/* index.css */
/* michaelpstanich.com */

/* Global Code */

iframe{
	
}
img{
	padding:0px;
	margin:0px;
	vertical-align: middle;
}
img a:link{
	border:none;
}
img a:visited{
	border:none;
}
img a:hover{
	border:none;
}
img a:active{
	border:none;
}
a:link{
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	color:#129CFF;
}
a:visited{
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	color:#129CFF;
}
a:hover{
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	color:#33CCFF;
}
a:active{
	font-family: 'Arial', sans-serif;
	text-decoration:none;
	color:#000;
}
p{
    margin: 10px 0px 10px 0px;
}
html{
	padding:0px;
	margin:0px;
}
body
{
	background-color:#1e1e1e;
	padding:0px;
	margin:auto;
	width:100%;
	
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:14px;
	color:#1e1e1e;
	text-align:left;
}

/* Special Code */
.clearbar{
	clear:both;
}
.contentSpacing{
    width:100%;
    height:50px;
}
.content{
    background-color: #fff;
    width:100%;
    min-width:1000px;
    margin: 0px auto 20px auto;
    padding: 20px 0 20px 0;
    overflow: hidden;
    box-shadow: 0px 4px 0px #999;
}
.contentPage{
    width:1000px;
    min-width: 1000px;
    margin:auto;
}
.loadingCover{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:100;
}
.loadingText{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size:60px;
	color:#1e1e1e;
	text-align:center;
    z-index: 102;
    top: 290px;
    position: fixed;
}

/* Title */
.titleSec{
	background-color:#ff7e00;
    margin-bottom: 4px;
    box-shadow: 0px 4px 0px #bc5d00;
}
.titleName{
	min-width:1000px;
	height:94px;
	padding-top:70px;
	position:relative;
	
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size:80px;
	color:#fff;
	text-align:center;
    text-shadow: 2px 2px 0px #bc5d00;
}
.titleSub{
	min-width:1000px;
	height:54px;
	padding-top:0px;
	padding-bottom:10px;
	position:relative;
	
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size:40px;
	color:#fff;
	text-align:center;
    text-shadow: 2px 2px 0px #bc5d00;
}

/* Global Styling */

.cheader{
	min-width:1000px;
	height:94px;
	position:relative;
	
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size:80px;
	color:#fff;
	text-align:center;
}
.cvideo{
    background-color: #00ccff;
    box-shadow: 0px 4px 0px #009ac1;
    text-shadow: 2px 2px 0px #009ac1;
}
.cblog{
    background-color: #00c788;
    box-shadow: 0px 4px 0px #009767;
    text-shadow: 2px 2px 0px #009767;
}
.cgames{
    background-color: #ff0078;
    box-shadow: 0px 4px 0px #ab0050;
    text-shadow: 2px 2px 0px #ab0050;
}
.cmods{
    background-color: #00ccff;
    box-shadow: 0px 4px 0px #009ac1;
    text-shadow: 2px 2px 0px #009ac1;
}

/* Blog */
.blogTabSection{
    width: auto;
    height:40px;
}
.blogTabBox{
    width:200px;
    height: auto;
    margin:0 auto 0 auto;
}
.blogTab{
    width: auto;
    height: auto;
    font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight: 40;
    padding:0 3px 0 3px;
    float:left;
    cursor: pointer;
}
.blogTabC{
    background-color: #fff;
    width:100%;
    height:3px;
    margin: 0 0 0 -3px;
    padding: 0 3px 0 3px;
}
.blogTabD{
    background-color: #1e1e1e;
    width:1px;
    height:24px;
    margin: 0px 0px 0px 0px;
    float: left;
}
.bcont{
    background-color: #fff;
    width: 1000px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}
.btitle{
    width: 800px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size:30px;
	color:#1e1e1e;
	text-align:center;
    padding: 0px 100px 0px 100px;
}
.bdate{
    width: 800px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:16px;
	color:#1e1e1e;
	text-align:center;
    padding: 0px 100px 0px 100px;
}
.bheader{
    width: 800px;
    margin: 0px auto -10px auto;
    font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size:20px;
	color:#1e1e1e;
	text-align:left;
    padding: 20px 100px 0px 100px;
}
.btext{
    width: 800px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size:14px;
	color:#1e1e1e;
	text-align:left;
    padding: 10px 100px 0px 100px;
}
.bcode{
    display: block;
    white-space:pre-wrap;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    color: #000;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    border: 1px solid #1e1e1e;
}
.bimage{
    padding: 10px 0px 0px 0px;
    object-fit: scale-down;
	text-align:center;
}
.blogTabBox{
    width: 300px;
}
.bpostlast{
    float: left;
    cursor: pointer;
}
.bpostarchive{
    float: left;
    cursor: pointer;
}
.bpostnext{
    float: left;
    cursor: pointer;
}
.bac{
    max-width: 800px;
    margin: auto;
}
.bta{
    text-align: center;
}

/* Home */
.contentHome{
    box-shadow: 0px 4px #999;
}
.homeL{
    width:500px;
    float: left;
}
.homeR{
    width:500px;
    margin-top: 76px;
    float: left;
}
.homeInfoBox{
    width:460px;
    margin: 0 auto 20px auto;
    padding: 0 20px 0 20px;
    float: left;
}
.homeInfoBar{
    background-color:#1e1e1e;
	height:2px;
	margin: 21px 0 -21px 0;
}
.homeInfoTitle{
    background-color:#fff;
    margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	font-weight: 600;
	padding-right:3px;
	display:inline-block;
}
.homeInfoDesc{
    font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight: 600;
	margin-top:5px;
}
.contactIcon{
    width: 26px;
    height: 26px;
    margin: 0 6px 3px 0;
    float: left;
}
.contactText{
    margin: 3px 0 0 0;
    font-size: 16px;
    float: left;
}
.socialTwitterBox{
    min-width:480px;
    margin: 0px 10px 0px 10px;
}
.twitterPoster{
    width: 478px;
    height: 615px;
    margin:0 0 0 2px;
}
.twitterTopBar{
    background-color: #1e1e1e;
    width:480px;
    height:10px;
    margin: 0 0 -10px 0;
}
.twitterLeftBar{
    background-color: #1e1e1e;
    width:2px;
    height:615px;
    margin:10px 0 -615px 0;
}
.twitterRightBar{
    background-color: #1e1e1e;
    width:2px;
    height:615px;
    margin: -619px 0 0 478px;
}
.twitterBotBar{
    background-color: #1e1e1e;
    width:480px;
    height:10px;
    margin:0 0 0 0;
}
.socialLinks{
    width:560px;
    height: 64px;
    margin:0 0 0 10px;
    padding: 0 0 20px 0px;
}
.socialIconBox{
    width: 276px;
    margin:auto;
}
.socialIcon{
    width: 60px;
    height: 60px;
    margin: 0 0 0 0;
    float:left;
}
.socialIcon2{
    width: 60px;
    height: 60px;
    margin: 0 0 0 -60px;
    float:left;
    opacity: 0.0;
    cursor: pointer;
}
.socialDivide{
    background-color: #1e1e1e;
    width:2px;
    height: 64px;
    margin: -2px 5px 0 5px;
    float: left;
}

/* Video */
.vidTabSection{
    width: auto;
    height:40px;
}
.vidTabBox{
    width:813px;
    height: auto;
    margin:0 auto 0 auto;
}
.vidTab{
    width: auto;
    height: auto;
    font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight: 40;
    padding:0 3px 0 3px;
    float:left;
    cursor: pointer;
}
.vidTabC{
    background-color: #fff;
    width:100%;
    height:3px;
    margin: 0 0 0 -3px;
    padding: 0 3px 0 3px;
}
.vidTabD{
    background-color: #1e1e1e;
    width:1px;
    height:24px;
    margin: 0px 0px 0px 0px;
    float: left;
}
.vidSection{
    width:1000px;
    height:auto;
}
.vidPlayer{
    width:1000px;
    height:563px;
    border: 0px solid #1e1e1e;
}
.vidInfoBox{
    width:460px;
    margin:20px auto 20px auto;
    padding: 0 20px 0 20px;
    float: left;
}
.vidInfoBar{
    background-color:#1e1e1e;
	height:2px;
	margin: 21px 0 -21px 0;
}
.vidInfoTitle{
    background-color:#fff;
    margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	font-weight: 600;
	padding-right:3px;
	display:inline-block;
}
.vidInfoDesc{
    font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight: 600;
	margin-top:5px;
}
.vidTabC.vlatest{
    background-color: #1e1e1e;
}
.vidTabC.vimpressions{
    background-color: #ff7e00;
    display: none;
}
.vidTabC.voverview{
    background-color: #ff4e00;
    display: none;
}
.vidTabC.vtopic{
    background-color: #e1e1e1;
    display: none;
}
.vidTabC.vdesignview{
    background-color: #00e19a;
    display: none;
}
.vidTabC.vcheckout{
    background-color: #ffc000;
    display: none;
}
.vidTabC.vcheckout{
    background-color: #ffc000;
    display: none;
}
.vidTabC.vplay{
    background-color: #0090ff;
    display: none;
}
.vidTabC.vstreams{
    background-color: #7c00f0;
    display: none;
}
.vidTabC.vcolab{
    background-color: #1e1e1e;
    display: none;
}
.vidTabSection{
    width: auto;
    height:40px;
}
/* Games */
.gameTabBox{
    width:262px;
    height: auto;
    margin:0 auto 0 auto;
    padding: 0px 0px 34px 0px;
}
.gameTab{
    width: auto;
    height: auto;
    font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight: 40;
    padding:0 3px 0 3px;
    float:left;
    cursor: pointer;
}
.gameTabC{
    background-color: #fff;
    width:100%;
    height:3px;
    margin: 0 0 0 -3px;
    padding: 0 3px 0 3px;
}
.gameTabD{
    background-color: #1e1e1e;
    width:1px;
    height:24px;
    margin: 0px 0px 0px 0px;
    float: left;
}
.gameSection{
    width:1000px;
    height:auto;
}
.gameColumnL{
    width:500px;
    height:auto;
    float: left;
}
.gameColumnR{
    width:500px;
    height:auto;
    float: left;
}
.gameInfoBox{
    width:460px;
    margin:0 auto 20px auto;
    padding: 0 20px 0 20px;
    float: left;
}
.gameInfoBar{
    background-color:#1e1e1e;
	height:2px;
	margin: 21px 0 -21px 0;
}.gameInfoBarW{
    width:920px;
    background-color:#1e1e1e;
	height:2px;
    margin: 20px 40px 20px 40px;
}
.gameInfoTitle{
    background-color:#fff;
    margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	font-weight: 600;
	padding-right:3px;
	display:inline-block;
}
.gameInfoDesc{
    font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight: 600;
	margin-top:0px;
    padding-bottom: 1px;
}
.gameVidCol{
    padding: 20px 10px 0px 10px;
}
.gameTitleSpace{
    width:800px;
    margin: 40px auto 20px auto;
}
.gameTabC.gunreleased{
    background-color: #1e1e1e;
}
.gameTabC.gprojectpanic{
    background-color: #f00;
    display: none;
}
.gimage{
    margin: auto;
}

/* Mods */
.modTabBox{
    width:231px;
    height: auto;
    margin:0 auto 0 auto;
    padding: 0px 0px 34px 0px;
}
.modTab{
    width: auto;
    height: auto;
    font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight: 40;
    padding:0 3px 0 3px;
    float:left;
    cursor: pointer;
}
.modTabC{
    background-color: #fff;
    width:100%;
    height:3px;
    margin: 0 0 0 -3px;
    padding: 0 3px 0 3px;
}
.modTabD{
    background-color: #1e1e1e;
    width:1px;
    height:24px;
    margin: 0px 0px 0px 0px;
    float: left;
}
.modSection{
    width:1000px;
    height:auto;
}
.modColumnL{
    width:500px;
    height:auto;
    float: left;
}
.modColumnR{
    width:500px;
    height:auto;
    float: left;
}
.modInfoBox{
    width:460px;
    margin:0 auto 20px auto;
    padding: 0 20px 0 20px;
    float: left;
}
.modInfoBar{
    background-color:#1e1e1e;
	height:2px;
	margin: 21px 0 -21px 0;
}.modInfoBarW{
    width:920px;
    background-color:#1e1e1e;
	height:2px;
    margin: 20px 40px 20px 40px;
}
.modInfoTitle{
    background-color:#fff;
    margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	font-weight: 600;
	padding-right:3px;
	display:inline-block;
}
.modInfoDesc{
    font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight: 600;
	margin-top:0px;
    padding-bottom: 1px;
}
.modVidCol{
    padding: 20px 10px 0px 10px;
}
.modTitleSpace{
    width:800px;
    margin: 40px auto 20px auto;
}
.modTabC{
    background-color: #1e1e1e;
}
.modTabC.mfeatured{
    background-color: #1e1e1e;
}
.modTabC.mmodslist{
    background-color: #1e1e1e;
    display: none;
}
.modTabC.mhackslist{
    background-color: #1e1e1e;
    display: none;
}
.mimage{
    margin: auto;
}
/* End Notes */
.endtext{
    padding: 0px 0px 0px 10px;
    color: #fff;
}